

<%= form_for(@classified_ad, html: {class:"form_horiontal"}) do |f| %>
  <% if @classified_ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classified_ad.errors.count, "error") %> prohibited this classified_ad from being saved:</h2>

      <ul>
      <% @classified_ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.collection_select :category_id, Category.all, :id, :english_name,{}, {:class => "form-control"}%>
  <div class="form-group">
    <%= f.label :title, :class => "form-control" %><br>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => "form-control" %><br>
    <%= f.text_area :description, :class => "form-control" %>
  </div>
  <div class="form-group">
  <%= f.button :submit,:class => "btn btn-primary" %>
  </div>
<% end %>
