<% content_for :column_width_start do %>
<div class="col-md-10 col-md-offset-2">
<% end %>

<%= form_for(@classified_ad, html: {class:"form_horiontal"}) do |f| %>
  <% if @classified_ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classified_ad.errors.count, "error") %> prohibited this classified_ad from being saved:</h2>

      <ul>
      <% @classified_ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-4">
  <div class="form-group">
    <%= f.label :title, :class => "form-control" %><br>
    <%= f.text_field :title, :class => "form-control", placeholder: "Title"%>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => "form-control" %><br>
    <%= f.text_area :description, :class => "form-control",placeholder: "Description...", rows: "6" %>
  </div>
  <div class="form-group">
  <%= f.button :submit,:class => "btn btn-primary" %>
  </div>
  </div>

  <div class="col-md-4 col-md-offset-1">
  <div class="form-group">
  <%= f.label :category, :class => "form-control" %>
  <%= f.collection_select :category_id, Category.all, :id, :english_name,{}, {:class => "form-control"}%>
  </div>
  <div class="form-group">
  <%= f.label :country, :class => "form-control" %>
  <%= f.collection_select :country_id, Country.all, :id, :english_name,{}, {:class => "form-control"}%>
  </div>
  <div class="form-group">
  <%= f.label :city, :class => "form-control" %>
  <%= f.collection_select :city_id, City.all, :id, :english_name,{}, {:class => "form-control"}%>
  </div>
</div>

<% end %>


</div>  