<% content_for :column_width_start do %>
<div class="col-md-6 col-md-offset-3">
<% end %>

<div ng-view class="view-frame animate-view"></div>
<h1>Listing Classified Ads</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classified_ads.each do |classified_ad| %>
      <tr id="<%= dom_id(classified_ad) %>">
        <td><%= classified_ad.title %></td>
        <td><%= classified_ad.description %></td>
        <td><%= link_to 'Show', classified_ad %></td>
        <td><%= link_to 'Edit', edit_classified_ad_path(classified_ad) %></td>
        <td><%= link_to 'Destroy', classified_ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classified ad', new_classified_ad_path, class: "btn btn-primary" %>

<% content_for :column_width_end do %>
</div>
<% end %>