
<% content_for :column_width_start do %>
<div class="col-md-8 col-md-offset-2">
<% end %>


<p id="notice"><%= notice %></p>

<% if @classified_ad.user %>
<p>
  <strong>Owner:</strong>
  <%= @classified_ad.user.username %>
</p>
<% end %>
<p>
  <strong>Title:</strong>
  <%= @classified_ad.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @classified_ad.description %>
</p>

<div class="images">
	<ul>
		<% @classified_ad.images.each do |image|  %>
			<li><img src="<%= image.path.url %>"></li>
		<% end %>
	</ul>
</div>

<% if current_user == @classified_ad.user %>
<%= link_to 'Edit', edit_classified_ad_path(@classified_ad) %> |
<%= link_to 'Back', root_path %>
<% end %>

<% content_for :column_width_end do %>
</div>
<% end %>

<%= render partial: "comments/partials/comments" %>